/* Adding google font */
* {
  font-family: "Merriweather, serif;";
}

.navBar {
  padding: 10px;
  margin: auto;
}

body {
  background-color: rgb(208, 207, 209);
}

.container {
  padding: 10px;
  width: 80%;
  margin: auto;
  background-color: white;
  align: right;
}

.form-group,
.form-conrtol {
  padding: 10px auto;
  margin: auto;
}

.btn_btn-primary_mb-2 {
  color: #333;
  background-color: rgb(208, 207, 209);
}
